USE [master]
GO
/****** Object:  Database [SWP_PROJECT]    Script Date: 10/17/2024 11:14:29 PM ******/
CREATE DATABASE [SWP_PROJECT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWP_PROJECT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SWP_PROJECT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWP_PROJECT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SWP_PROJECT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP_PROJECT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP_PROJECT]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[role_id] [int] NULL,
	[status_id] [int] NULL,
 CONSTRAINT [PK__Accounts__46A222CDDBBE39FC] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountStatus]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountStatus](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](max) NULL,
 CONSTRAINT [PK__AccountS__3683B531839DF43D] PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[coupon_id] [int] IDENTITY(1,1) NOT NULL,
	[coupon_code] [nvarchar](50) NULL,
	[discount_amount] [decimal](10, 2) NULL,
	[coupon_start_date] [date] NULL,
	[coupon_end_date] [date] NULL,
	[coupon_status] [nvarchar](50) NULL,
 CONSTRAINT [PK__Coupons__58CF6389247B125E] PRIMARY KEY CLUSTERED 
(
	[coupon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerCoupon]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerCoupon](
	[customer_coupon_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[coupon_id] [int] NULL,
 CONSTRAINT [PK__Customer__8A50B4DB8C43565F] PRIMARY KEY CLUSTERED 
(
	[customer_coupon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](255) NULL,
	[customer_phone] [nvarchar](15) NULL,
	[point] [int] NULL,
	[customer_type_id] [int] NULL,
 CONSTRAINT [PK__Customer__CD65CB8535B377B9] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerTypes]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTypes](
	[customer_type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](255) NULL,
 CONSTRAINT [PK__Customer__3320C939714E60F1] PRIMARY KEY CLUSTERED 
(
	[customer_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountProduct]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountProduct](
	[discount_product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[price_sell] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[discount_product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailSettings]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailSettings](
	[email_setting_id] [int] IDENTITY(1,1) NOT NULL,
	[smtp_server] [nvarchar](255) NOT NULL,
	[smtp_port] [int] NOT NULL,
	[encryption_type] [nvarchar](50) NOT NULL,
	[auth_username] [nvarchar](255) NULL,
	[auth_password] [nvarchar](255) NULL,
	[from_email] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[email_setting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailTemplates]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailTemplates](
	[template_id] [int] IDENTITY(1,1) NOT NULL,
	[template_name] [nvarchar](255) NOT NULL,
	[subject] [nvarchar](255) NOT NULL,
	[content] [nvarchar](255) NOT NULL,
	[variables] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_name] [nvarchar](255) NULL,
	[employee_phone] [nvarchar](15) NULL,
	[employee_address] [nvarchar](255) NULL,
	[account_id] [int] NULL,
 CONSTRAINT [PK__Employee__C52E0BA878A15DBC] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryPrice]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryPrice](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[price_before] [decimal](10, 2) NULL,
	[updated_at] [datetime] NULL,
	[status] [nvarchar](255) NULL,
 CONSTRAINT [PK__HistoryP__096AA2E9B644F4BF] PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[inventory_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[current_stock] [int] NULL,
	[inventory_status] [nvarchar](50) NULL,
	[last_restock_date] [datetime] NULL,
	[alert] [nvarchar](50) NULL,
 CONSTRAINT [PK__Inventor__B59ACC49A10C0AD9] PRIMARY KEY CLUSTERED 
(
	[inventory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryDetails]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryDetails](
	[inventory_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[inventory_id] [int] NULL,
	[quantity] [int] NULL,
	[date] [date] NULL,
	[status] [nvarchar](255) NULL,
 CONSTRAINT [PK__Inventor__33942D4A042B10A6] PRIMARY KEY CLUSTERED 
(
	[inventory_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[invoice_date] [datetime] NULL,
	[invoice_total_amount] [decimal](10, 2) NULL,
	[invoice_status] [nvarchar](50) NULL,
	[shift_manager_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[payment_method_id] [int] NOT NULL,
	[promotion_id] [int] NULL,
	[customer_id] [int] NULL,
 CONSTRAINT [PK__Invoices__F58DFD495EA1F139] PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mailog]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mailog](
	[mailog_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NULL,
	[mail_subject] [nvarchar](255) NULL,
	[mail_content] [nvarchar](255) NULL,
	[mail_sent_date] [datetime] NULL,
 CONSTRAINT [PK__Mailog__3393531483046800] PRIMARY KEY CLUSTERED 
(
	[mailog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[order_date] [datetime] NULL,
	[order_total_amount] [decimal](10, 2) NULL,
	[order_status] [nvarchar](50) NULL,
	[customer_coupon_id] [int] NULL,
	[employee_id] [int] NULL,
 CONSTRAINT [PK__Orders__46596229403BE2FE] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersDetails]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersDetails](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [int] NULL,
	[total_price] [int] NULL,
	[store_stock_id] [int] NULL,
	[order_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[payment_method_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_method_name] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK__PaymentM__8A3EA9EBFB6EE760] PRIMARY KEY CLUSTERED 
(
	[payment_method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Categories]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NULL,
 CONSTRAINT [PK__Product___D54EE9B45014E258] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[barcode] [nvarchar](255) NULL,
	[product_name] [nvarchar](255) NULL,
	[product_price] [int] NULL,
	[weight_unit_id] [int] NULL,
	[supplier_id] [int] NULL,
	[product_image] [nvarchar](255) NULL,
	[manufacture_date] [date] NULL,
	[expiration_date] [date] NULL,
	[batch] [int] NULL,
 CONSTRAINT [PK__Products__47027DF57F017F60] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[promotion_id] [int] IDENTITY(1,1) NOT NULL,
	[promotion_name] [varchar](255) NOT NULL,
	[description] [text] NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[discount_value] [decimal](10, 2) NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportInventory]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportInventory](
	[report_inventory_id] [int] IDENTITY(1,1) NOT NULL,
	[report_date] [datetime] NULL,
	[total_quantity_reported] [int] NULL,
	[report_inventory_detail_id] [int] NULL,
 CONSTRAINT [PK__ReportIn__139C51F47FFC6EF9] PRIMARY KEY CLUSTERED 
(
	[report_inventory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportInventoryDetails]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportInventoryDetails](
	[report_inventory_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[reported_quantity] [int] NULL,
	[report_date] [datetime] NULL,
	[order_id] [int] NULL,
 CONSTRAINT [PK__ReportIn__39F18DF08D01FAFA] PRIMARY KEY CLUSTERED 
(
	[report_inventory_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportRevenue]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportRevenue](
	[report_revenue_id] [int] IDENTITY(1,1) NOT NULL,
	[report_date] [datetime] NULL,
	[report_revenue_detail_id] [int] NULL,
	[total_revenue] [decimal](10, 2) NULL,
 CONSTRAINT [PK__ReportRe__E12199CFB8AF2C86] PRIMARY KEY CLUSTERED 
(
	[report_revenue_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportRevenueDetails]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportRevenueDetails](
	[report_revenue_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[revenue_amount] [decimal](10, 2) NULL,
	[report_date] [datetime] NULL,
	[invoice_id] [int] NULL,
 CONSTRAINT [PK__ReportRe__C46CC2233294F4BE] PRIMARY KEY CLUSTERED 
(
	[report_revenue_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NULL,
 CONSTRAINT [PK__Roles__760965CCB73E985D] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftManagers]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftManagers](
	[shift_manager_id] [int] IDENTITY(1,1) NOT NULL,
	[shift_start_time] [time](7) NULL,
	[shift_end_time] [time](7) NULL,
	[cash_start] [decimal](10, 2) NULL,
	[cash_end] [decimal](10, 2) NULL,
	[total_revenue] [decimal](10, 2) NULL,
	[total_hours] [decimal](10, 2) NULL,
	[notes] [nvarchar](255) NULL,
	[employee_id] [int] NULL,
 CONSTRAINT [PK__ShiftMan__6D04D7571C9E3BD7] PRIMARY KEY CLUSTERED 
(
	[shift_manager_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopDetails]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopDetails](
	[shop_id] [int] IDENTITY(1,1) NOT NULL,
	[shop_name] [nvarchar](255) NULL,
	[shop_address] [nvarchar](255) NULL,
	[shop_phone] [nvarchar](15) NULL,
	[shop_email] [nvarchar](255) NULL,
	[shop_opening_hours] [nvarchar](100) NULL,
	[shop_logo] [nvarchar](255) NULL,
 CONSTRAINT [PK__ShopDeta__AD0817860C416DF4] PRIMARY KEY CLUSTERED 
(
	[shop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreStock]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreStock](
	[store_stock_id] [int] IDENTITY(1,1) NOT NULL,
	[inventory_id] [int] NULL,
	[quantity_in_stock] [int] NULL,
	[last_stock_check_date] [date] NULL,
	[discount_product_id] [int] NULL,
	[alert] [nvarchar](255) NULL,
 CONSTRAINT [PK__StoreSto__88BF60C2B219FD3C] PRIMARY KEY CLUSTERED 
(
	[store_stock_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_name] [nvarchar](255) NULL,
	[supplier_address] [nvarchar](255) NULL,
	[supplier_phone] [nvarchar](15) NULL,
	[supplier_email] [nvarchar](255) NULL,
	[supplier_contact_person] [nvarchar](255) NULL,
	[image] [nvarchar](255) NULL,
 CONSTRAINT [PK__Supplier__6EE594E849EDB9E0] PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weight_unit]    Script Date: 10/17/2024 11:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weight_unit](
	[weight_unit_id] [int] IDENTITY(1,1) NOT NULL,
	[unit_name] [nvarchar](50) NULL,
 CONSTRAINT [PK__Weight_u__BFDA59EF7097AB48] PRIMARY KEY CLUSTERED 
(
	[weight_unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([customer_id], [customer_name], [customer_phone], [point], [customer_type_id]) VALUES (2, N'Messi', N'0123456789', 20, 1)
INSERT [dbo].[Customers] ([customer_id], [customer_name], [customer_phone], [point], [customer_type_id]) VALUES (3, N'Ronaldo', N'0123456782', 20, 2)
INSERT [dbo].[Customers] ([customer_id], [customer_name], [customer_phone], [point], [customer_type_id]) VALUES (4, N'Jane Smith', N'555-1234', 20, 1)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerTypes] ON 

INSERT [dbo].[CustomerTypes] ([customer_type_id], [type_name]) VALUES (1, N'Đồng')
INSERT [dbo].[CustomerTypes] ([customer_type_id], [type_name]) VALUES (2, N'Bạc')
SET IDENTITY_INSERT [dbo].[CustomerTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[DiscountProduct] ON 

INSERT [dbo].[DiscountProduct] ([discount_product_id], [product_id], [price_sell]) VALUES (1, 7, CAST(18750.00 AS Decimal(10, 2)))
INSERT [dbo].[DiscountProduct] ([discount_product_id], [product_id], [price_sell]) VALUES (2, 1, CAST(7500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DiscountProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[HistoryPrice] ON 

INSERT [dbo].[HistoryPrice] ([history_id], [product_id], [price], [price_before], [updated_at], [status]) VALUES (2, 11, CAST(14000.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(10, 2)), CAST(N'2024-10-14T17:32:00.447' AS DateTime), N'Giảm giá')
INSERT [dbo].[HistoryPrice] ([history_id], [product_id], [price], [price_before], [updated_at], [status]) VALUES (5, 11, CAST(19000.00 AS Decimal(10, 2)), CAST(14000.00 AS Decimal(10, 2)), CAST(N'2024-10-14T19:31:02.330' AS DateTime), N'Tăng giá')
INSERT [dbo].[HistoryPrice] ([history_id], [product_id], [price], [price_before], [updated_at], [status]) VALUES (6, 11, CAST(18000.00 AS Decimal(10, 2)), CAST(19000.00 AS Decimal(10, 2)), CAST(N'2024-10-16T11:54:27.960' AS DateTime), N'Giảm giá')
SET IDENTITY_INSERT [dbo].[HistoryPrice] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([inventory_id], [product_id], [current_stock], [inventory_status], [last_restock_date], [alert]) VALUES (12, 1, 100, N'Còn hàng', CAST(N'2024-10-15T10:00:00.000' AS DateTime), N'Không')
INSERT [dbo].[Inventory] ([inventory_id], [product_id], [current_stock], [inventory_status], [last_restock_date], [alert]) VALUES (13, 2, 150, N'Còn hàng', CAST(N'2024-10-14T12:00:00.000' AS DateTime), N'Không')
INSERT [dbo].[Inventory] ([inventory_id], [product_id], [current_stock], [inventory_status], [last_restock_date], [alert]) VALUES (14, 3, 40, N'Sắp hết hàng', CAST(N'2024-10-15T09:00:00.000' AS DateTime), N'Cảnh báo')
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Categories] ON 

INSERT [dbo].[Product_Categories] ([category_id], [category_name]) VALUES (1, N'Nước giải khát')
INSERT [dbo].[Product_Categories] ([category_id], [category_name]) VALUES (2, N'Thực phẩm khô')
INSERT [dbo].[Product_Categories] ([category_id], [category_name]) VALUES (3, N'Thực phẩm tươi')
SET IDENTITY_INSERT [dbo].[Product_Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([product_id], [category_id], [barcode], [product_name], [product_price], [weight_unit_id], [supplier_id], [product_image], [manufacture_date], [expiration_date], [batch]) VALUES (1, 1, N'1112223334441', N'Nước ngọt Coca-Cola', 10000, 1, 1, N'coca.png', CAST(N'2024-01-01' AS Date), CAST(N'2024-10-19' AS Date), 1)
INSERT [dbo].[Products] ([product_id], [category_id], [barcode], [product_name], [product_price], [weight_unit_id], [supplier_id], [product_image], [manufacture_date], [expiration_date], [batch]) VALUES (2, 1, N'1112223334442', N'Nước cam ép Twister', 15000, 5, 1, N'twister.png', CAST(N'2023-12-01' AS Date), CAST(N'2024-12-01' AS Date), 1)
INSERT [dbo].[Products] ([product_id], [category_id], [barcode], [product_name], [product_price], [weight_unit_id], [supplier_id], [product_image], [manufacture_date], [expiration_date], [batch]) VALUES (3, 1, N'1112223334443', N'Trà xanh 0 độ', 12000, 1, 1, N'0do.png', CAST(N'2024-02-01' AS Date), CAST(N'2025-02-01' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ShopDetails] ON 

INSERT [dbo].[ShopDetails] ([shop_id], [shop_name], [shop_address], [shop_phone], [shop_email], [shop_opening_hours], [shop_logo]) VALUES (1, N'POS Shop', N'Ha Noi', N'0123456789', N'posshop@gmail.com', N'7:35', N'logoshop.png')
INSERT [dbo].[ShopDetails] ([shop_id], [shop_name], [shop_address], [shop_phone], [shop_email], [shop_opening_hours], [shop_logo]) VALUES (2, N'Win Shop', N'Hoa Lac ', N'0123456987', N'winshop@gmail.com', N'8:45', N'winshop.png')
SET IDENTITY_INSERT [dbo].[ShopDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[StoreStock] ON 

INSERT [dbo].[StoreStock] ([store_stock_id], [inventory_id], [quantity_in_stock], [last_stock_check_date], [discount_product_id], [alert]) VALUES (8, 12, 100, CAST(N'2024-10-16' AS Date), 2, N'Không')
INSERT [dbo].[StoreStock] ([store_stock_id], [inventory_id], [quantity_in_stock], [last_stock_check_date], [discount_product_id], [alert]) VALUES (9, 13, 150, CAST(N'2024-10-16' AS Date), NULL, N'Không')
INSERT [dbo].[StoreStock] ([store_stock_id], [inventory_id], [quantity_in_stock], [last_stock_check_date], [discount_product_id], [alert]) VALUES (10, 14, 40, CAST(N'2024-10-16' AS Date), NULL, N'Cảnh báo')
SET IDENTITY_INSERT [dbo].[StoreStock] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([supplier_id], [supplier_name], [supplier_address], [supplier_phone], [supplier_email], [supplier_contact_person], [image]) VALUES (1, N'Công ty TNHH Coca-Cola', N'123 Đường A, Quận 1, TP. HCM', N'0123456789', N'info@coca-cola.com', N'Nguyễn Văn A', N'cocacola_logo.png')
INSERT [dbo].[Suppliers] ([supplier_id], [supplier_name], [supplier_address], [supplier_phone], [supplier_email], [supplier_contact_person], [image]) VALUES (2, N'Công ty PepsiCo Việt Nam', N'456 Đường B, Quận 3, TP. HCM', N'0987654321', N'contact@pepsico.com', N'Trần Thị B', N'pepsi_logo.png')
INSERT [dbo].[Suppliers] ([supplier_id], [supplier_name], [supplier_address], [supplier_phone], [supplier_email], [supplier_contact_person], [image]) VALUES (3, N'Công ty Acecook Việt Nam', N'789 Đường C, TP. Đà Nẵng', N'0912345678', N'support@acecook.com', N'Phạm Văn C', N'acecook_logo.png')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Weight_unit] ON 

INSERT [dbo].[Weight_unit] ([weight_unit_id], [unit_name]) VALUES (1, N'Gói')
INSERT [dbo].[Weight_unit] ([weight_unit_id], [unit_name]) VALUES (2, N'Thùng')
INSERT [dbo].[Weight_unit] ([weight_unit_id], [unit_name]) VALUES (3, N'Hộp')
SET IDENTITY_INSERT [dbo].[Weight_unit] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EmailSet__F8D5F652EE50F958]    Script Date: 10/17/2024 11:14:30 PM ******/
ALTER TABLE [dbo].[EmailSettings] ADD UNIQUE NONCLUSTERED 
(
	[from_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EmailTem__BB707B4E32ACEA75]    Script Date: 10/17/2024 11:14:30 PM ******/
ALTER TABLE [dbo].[EmailTemplates] ADD UNIQUE NONCLUSTERED 
(
	[template_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Roles]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Status] FOREIGN KEY([status_id])
REFERENCES [dbo].[AccountStatus] ([status_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Status]
GO
ALTER TABLE [dbo].[CustomerCoupon]  WITH CHECK ADD  CONSTRAINT [FK__CustomerC__coupo__571DF1D5] FOREIGN KEY([coupon_id])
REFERENCES [dbo].[Coupons] ([coupon_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CustomerCoupon] CHECK CONSTRAINT [FK__CustomerC__coupo__571DF1D5]
GO
ALTER TABLE [dbo].[CustomerCoupon]  WITH CHECK ADD  CONSTRAINT [FK__CustomerC__custo__5629CD9C] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CustomerCoupon] CHECK CONSTRAINT [FK__CustomerC__custo__5629CD9C]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK__Customers__custo__5165187F] FOREIGN KEY([customer_type_id])
REFERENCES [dbo].[CustomerTypes] ([customer_type_id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK__Customers__custo__5165187F]
GO
ALTER TABLE [dbo].[DiscountProduct]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK__Employees__accou__6383C8BA] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([account_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK__Employees__accou__6383C8BA]
GO
ALTER TABLE [dbo].[HistoryPrice]  WITH CHECK ADD  CONSTRAINT [FK__HistoryPr__produ__440B1D61] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistoryPrice] CHECK CONSTRAINT [FK__HistoryPr__produ__440B1D61]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK__Inventory__produ__46E78A0C] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK__Inventory__produ__46E78A0C]
GO
ALTER TABLE [dbo].[InventoryDetails]  WITH CHECK ADD  CONSTRAINT [FK__Inventory__inven__49C3F6B7] FOREIGN KEY([inventory_id])
REFERENCES [dbo].[Inventory] ([inventory_id])
GO
ALTER TABLE [dbo].[InventoryDetails] CHECK CONSTRAINT [FK__Inventory__inven__49C3F6B7]
GO
ALTER TABLE [dbo].[InventoryDetails]  WITH CHECK ADD  CONSTRAINT [fk_inventory] FOREIGN KEY([inventory_id])
REFERENCES [dbo].[Inventory] ([inventory_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryDetails] CHECK CONSTRAINT [fk_inventory]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK__Invoices__employ__6C190EBB] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK__Invoices__employ__6C190EBB]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK__Invoices__order___6B24EA82] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK__Invoices__order___6B24EA82]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK__Invoices__paymen__6D0D32F4] FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[PaymentMethod] ([payment_method_id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK__Invoices__paymen__6D0D32F4]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK__Invoices__shift___6E01572D] FOREIGN KEY([shift_manager_id])
REFERENCES [dbo].[ShiftManagers] ([shift_manager_id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK__Invoices__shift___6E01572D]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [fk_promotion] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotion] ([promotion_id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [fk_promotion]
GO
ALTER TABLE [dbo].[Mailog]  WITH CHECK ADD  CONSTRAINT [FK__Mailog__employee__70DDC3D8] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[Mailog] CHECK CONSTRAINT [FK__Mailog__employee__70DDC3D8]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__customer__5AEE82B9] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__customer__5AEE82B9]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__customer__5BE2A6F2] FOREIGN KEY([customer_coupon_id])
REFERENCES [dbo].[CustomerCoupon] ([customer_coupon_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__customer__5BE2A6F2]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[OrdersDetails]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrdersDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrdersDetails_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrdersDetails] CHECK CONSTRAINT [FK_OrdersDetails_Orders]
GO
ALTER TABLE [dbo].[OrdersDetails]  WITH CHECK ADD  CONSTRAINT [fk_store_stock_details] FOREIGN KEY([store_stock_id])
REFERENCES [dbo].[StoreStock] ([store_stock_id])
GO
ALTER TABLE [dbo].[OrdersDetails] CHECK CONSTRAINT [fk_store_stock_details]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK__Products__catego__3F466844] FOREIGN KEY([category_id])
REFERENCES [dbo].[Product_Categories] ([category_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK__Products__catego__3F466844]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK__Products__suppli__412EB0B6] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Suppliers] ([supplier_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK__Products__suppli__412EB0B6]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK__Products__weight__403A8C7D] FOREIGN KEY([weight_unit_id])
REFERENCES [dbo].[Weight_unit] ([weight_unit_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK__Products__weight__403A8C7D]
GO
ALTER TABLE [dbo].[ReportInventory]  WITH CHECK ADD  CONSTRAINT [FK__ReportInv__repor__76969D2E] FOREIGN KEY([report_inventory_detail_id])
REFERENCES [dbo].[ReportInventoryDetails] ([report_inventory_detail_id])
GO
ALTER TABLE [dbo].[ReportInventory] CHECK CONSTRAINT [FK__ReportInv__repor__76969D2E]
GO
ALTER TABLE [dbo].[ReportInventoryDetails]  WITH CHECK ADD  CONSTRAINT [FK__ReportInv__order__73BA3083] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[ReportInventoryDetails] CHECK CONSTRAINT [FK__ReportInv__order__73BA3083]
GO
ALTER TABLE [dbo].[ReportRevenue]  WITH CHECK ADD  CONSTRAINT [FK__ReportRev__repor__7C4F7684] FOREIGN KEY([report_revenue_detail_id])
REFERENCES [dbo].[ReportRevenueDetails] ([report_revenue_detail_id])
GO
ALTER TABLE [dbo].[ReportRevenue] CHECK CONSTRAINT [FK__ReportRev__repor__7C4F7684]
GO
ALTER TABLE [dbo].[ReportRevenueDetails]  WITH CHECK ADD  CONSTRAINT [FK__ReportRev__invoi__797309D9] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[ReportRevenueDetails] CHECK CONSTRAINT [FK__ReportRev__invoi__797309D9]
GO
ALTER TABLE [dbo].[ShiftManagers]  WITH CHECK ADD  CONSTRAINT [FK__ShiftMana__emplo__68487DD7] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ShiftManagers] CHECK CONSTRAINT [FK__ShiftMana__emplo__68487DD7]
GO
ALTER TABLE [dbo].[StoreStock]  WITH CHECK ADD  CONSTRAINT [FK__StoreStoc__inven__4CA06362] FOREIGN KEY([inventory_id])
REFERENCES [dbo].[Inventory] ([inventory_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StoreStock] CHECK CONSTRAINT [FK__StoreStoc__inven__4CA06362]
GO
ALTER TABLE [dbo].[StoreStock]  WITH CHECK ADD  CONSTRAINT [fk_discount_product] FOREIGN KEY([discount_product_id])
REFERENCES [dbo].[DiscountProduct] ([discount_product_id])
GO
ALTER TABLE [dbo].[StoreStock] CHECK CONSTRAINT [fk_discount_product]
GO
USE [master]
GO
