<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>controller.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeSettingServlet</servlet-name>
        <servlet-class>controller.EmployeeSettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>controller.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffManageServlet</servlet-name>
        <servlet-class>controller.StaffManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffUpdateServlet</servlet-name>
        <servlet-class>controller.StaffUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDeleteServlet</servlet-name>
        <servlet-class>controller.StaffDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUnitServlet</servlet-name>
        <servlet-class>controller.ListUnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSupplierServlet</servlet-name>
        <servlet-class>controller.ListSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCategoryServlet</servlet-name>
        <servlet-class>controller.ListCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductServlet</servlet-name>
        <servlet-class>controller.ListProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>controller.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>controller.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUnitCategory</servlet-name>
        <servlet-class>controller.AddUnitCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUnitServlet</servlet-name>
        <servlet-class>controller.DeleteUnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplierServlet</servlet-name>
        <servlet-class>controller.AddSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSupplierServlet</servlet-name>
        <servlet-class>controller.DeleteSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-class>controller.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUnitServlet</servlet-name>
        <servlet-class>controller.UpdateUnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSupplierServlet</servlet-name>
        <servlet-class>controller.UpdateSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePriceServlet</servlet-name>
        <servlet-class>controller.UpdatePriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPriceServlet</servlet-name>
        <servlet-class>controller.ListPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHistoryServlet</servlet-name>
        <servlet-class>controller.DeleteHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListInventoryServlet</servlet-name>
        <servlet-class>controller.ListInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToInventoryServlet</servlet-name>
        <servlet-class>controller.AddToInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportInventoryServlet</servlet-name>
        <servlet-class>controller.ImportInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInventoryServlet</servlet-name>
        <servlet-class>controller.LogInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListShop</servlet-name>
        <servlet-class>controller.ListShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListShift</servlet-name>
        <servlet-class>controller.ListShift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCustomer</servlet-name>
        <servlet-class>controller.ListCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePos</servlet-name>
        <servlet-class>controller.HomePos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShiftDetailServlet</servlet-name>
        <servlet-class>controller.ShiftDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>controller.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditShop</servlet-name>
        <servlet-class>controller.EditShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomer</servlet-name>
        <servlet-class>controller.EditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolveAddToCartPos</servlet-name>
        <servlet-class>controller.SolveAddToCartPos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolveAddItemServlet</servlet-name>
        <servlet-class>controller.SolveAddItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolveUpdateCarServlet</servlet-name>
        <servlet-class>controller.SolveUpdateCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>controller.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>controller.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShop</servlet-name>
        <servlet-class>controller.DeleteShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddShopServlet</servlet-name>
        <servlet-class>controller.AddShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomer</servlet-name>
        <servlet-class>controller.SearchCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchShop</servlet-name>
        <servlet-class>controller.SearchShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListShopPhanTrang</servlet-name>
        <servlet-class>controller.ListShopPhanTrang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginationShopServlet</servlet-name>
        <servlet-class>controller.PaginationShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShift</servlet-name>
        <servlet-class>controller.DeleteShift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditShift</servlet-name>
        <servlet-class>controller.EditShift</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeSettingServlet</servlet-name>
        <url-pattern>/employeeSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/forgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffManageServlet</servlet-name>
        <url-pattern>/staffManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffUpdateServlet</servlet-name>
        <url-pattern>/staffUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDeleteServlet</servlet-name>
        <url-pattern>/staffDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUnitServlet</servlet-name>
        <url-pattern>/listUnit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSupplierServlet</servlet-name>
        <url-pattern>/listSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCategoryServlet</servlet-name>
        <url-pattern>/listCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductServlet</servlet-name>
        <url-pattern>/listProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/addCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/deleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUnitCategory</servlet-name>
        <url-pattern>/addUnit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUnitServlet</servlet-name>
        <url-pattern>/deleteUnit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupplierServlet</servlet-name>
        <url-pattern>/addSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSupplierServlet</servlet-name>
        <url-pattern>/deleteSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <url-pattern>/updateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUnitServlet</servlet-name>
        <url-pattern>/updateUnit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSupplierServlet</servlet-name>
        <url-pattern>/updateSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePriceServlet</servlet-name>
        <url-pattern>/updatePrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPriceServlet</servlet-name>
        <url-pattern>/listPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHistoryServlet</servlet-name>
        <url-pattern>/deleteHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListInventoryServlet</servlet-name>
        <url-pattern>/listInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToInventoryServlet</servlet-name>
        <url-pattern>/addToInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportInventoryServlet</servlet-name>
        <url-pattern>/importInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInventoryServlet</servlet-name>
        <url-pattern>/listLogInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListShop</servlet-name>
        <url-pattern>/ListShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListShift</servlet-name>
        <url-pattern>/ListShift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCustomer</servlet-name>
        <url-pattern>/ListCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePos</servlet-name>
        <url-pattern>/HomePos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShiftDetailServlet</servlet-name>
        <url-pattern>/ShiftDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomer</servlet-name>
        <url-pattern>/EditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditShop</servlet-name>
        <url-pattern>/EditShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolveAddToCartPos</servlet-name>
        <url-pattern>/SolveAddToCartPos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolveAddItemServlet</servlet-name>
        <url-pattern>/SolveAddItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolveUpdateCarServlet</servlet-name>
        <url-pattern>/SolveUpdateCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/DeleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteShop</servlet-name>
        <url-pattern>/DeleteShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddShopServlet</servlet-name>
        <url-pattern>/AddShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomer</servlet-name>
        <url-pattern>/SearchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchShop</servlet-name>
        <url-pattern>/SearchShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListShopPhanTrang</servlet-name>
        <url-pattern>/ListShopPhanTrang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginationShopServlet</servlet-name>
        <url-pattern>/PaginationShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteShift</servlet-name>
        <url-pattern>/DeleteShift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditShift</servlet-name>
        <url-pattern>/EditShift</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>100</session-timeout>
        <!-- Thời gian tính bằng phút -->
    </session-config>
</web-app>
